.h2-heading49 {
  position: relative;
  line-height: 10px;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.addy-assistant6 {
  position: relative;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 102px;
}
.expand-icon6,
.plus-icon5 {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.plus-icon5 {
  display: none;
  min-height: 18px;
}
.expand-icon6 {
  object-fit: contain;
}
.button16 {
  align-self: stretch;
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #eff1f6;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  gap: 20px;
}
.close-icon3,
.open-in-full3 {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 18px;
}
.regular-addy-a-i2 {
  height: 18px;
  justify-content: flex-start;
  gap: 16px;
}
.expand,
.regular-addy-a-i2,
.top-bar-new-message3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.expand {
  height: 32px;
  width: 300px;
  justify-content: flex-start;
  gap: 32px;
}
.top-bar-new-message3 {
  align-self: stretch;
  border-bottom: 1px solid #eff1f6;
  justify-content: space-between;
  padding: 9px 16px;
  gap: 20px;
  flex-shrink: 0;
}
.h2-heading50 {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 19px;
  font-weight: 600;
}
.addy-assistant7,
.regular-addy-ai5 {
  position: relative;
  display: inline-block;
}
.addy-assistant7 {
  height: 12px;
  letter-spacing: -0.02em;
  line-height: 19px;
  font-weight: 600;
  min-width: 114px;
}
.regular-addy-ai5 {
  align-self: stretch;
  height: 10px;
  font-size: 14px;
  line-height: 150%;
}
.addy-assistant-group {
  width: 472px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: calc(100% - 18px);
}
.expand-icon7 {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button17,
.h2-heading-parent18 {
  align-self: stretch;
  max-width: 100%;
}
.button17 {
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #eff1f6;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  gap: 0;
  row-gap: 20px;
  font-size: 16px;
  color: #485165;
}
.h2-heading-parent18 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.plus-icon6 {
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.h2-heading51 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 12px;
  font-weight: 600;
  display: inline-block;
  min-width: 79px;
}
.create-new2 {
  align-self: stretch;
  height: 10px;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 92px;
}
.create-new-frame {
  width: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: #7150e0;
}
.h2-heading-parent19 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.h2-heading52,
.h2-heading53 {
  position: relative;
  display: inline-block;
}
.h2-heading52 {
  flex: 1;
  line-height: 12px;
  font-weight: 500;
  min-width: 20px;
}
.h2-heading53 {
  height: 9px;
  width: 15px;
  line-height: 19px;
  flex-shrink: 0;
}
.h2-heading-parent20,
.search1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search1 {
  width: 0;
  border-radius: 4px;
  background-color: transparent;
  padding: 4px 0;
  text-align: left;
  font-size: 12px;
  color: transparent;
}
.h2-heading-parent20 {
  width: 46px;
  border-bottom: 1px solid #7150e0;
  padding: 0 13px 8px;
  text-align: center;
  color: #7150e0;
}
.h2-heading54,
.h2-heading55 {
  height: 12px;
  position: relative;
  line-height: 19px;
  display: inline-block;
  min-width: 55px;
}
.h2-heading55 {
  min-width: 68px;
}
.h-heading-h-hading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 182px 0 0;
  gap: 20px;
}
.h-heading-h-hading-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
  min-width: 270px;
  max-width: 100%;
}
.search-icon2 {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 57px;
  max-width: 100%;
}
.h2-heading56 {
  margin: 0;
  height: 17px;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 24px;
}
.h2-heading-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.h2-heading57,
.regular-addy-ai6 {
  position: relative;
  display: inline-block;
}
.h2-heading57 {
  height: 12px;
  line-height: 19px;
  min-width: 120px;
}
.regular-addy-ai6 {
  align-self: stretch;
  height: 31px;
  font-size: 14px;
  line-height: 150%;
  color: #485165;
}
.h2-heading-parent21,
.item-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.h2-heading-parent21 {
  width: 262px;
  gap: 16px;
}
.item-child {
  flex: 1;
  padding: 4px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
}
.default4 {
  position: relative;
  font-size: 14px;
  line-height: 10px;
  font-weight: 500;
  font-family: Inter;
  color: #485165;
  text-align: left;
  display: inline-block;
  min-width: 49px;
}
.default-container,
.item6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.default-container {
  cursor: pointer;
  border: 0;
  padding: 6px 16px;
  background-color: #fff;
  border-radius: 12px;
}
.default-container:hover {
  background-color: #e6e6e6;
}
.item6 {
  width: 490px;
  border-radius: 8px;
  background-color: #f7effb;
  padding: 12px 12px 16px 16px;
  box-sizing: border-box;
  gap: 16px;
}
.h2-heading58 {
  margin: 0;
  height: 17px;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 24px;
}
.h2-heading-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.h2-heading59,
.it-helps-you2 {
  position: relative;
  display: inline-block;
}
.h2-heading59 {
  height: 12px;
  line-height: 19px;
  min-width: 122px;
}
.it-helps-you2 {
  align-self: stretch;
  height: 31px;
  font-size: 14px;
  line-height: 150%;
  color: #485165;
}
.frame-wrapper4,
.h2-heading-parent22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.h2-heading-parent22 {
  align-self: stretch;
  gap: 16px;
}
.frame-wrapper4 {
  flex: 1;
  padding: 4px 0 0;
  box-sizing: border-box;
  min-width: 170px;
}
.infinite-shelf4 {
  width: 85px;
  position: relative;
  font-size: 14px;
  line-height: 10px;
  font-weight: 500;
  font-family: Inter;
  color: #485165;
  text-align: center;
  display: inline-block;
  min-width: 85px;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 6px 15px;
  background-color: #eff1f6;
  border-radius: 12px;
  white-space: nowrap;
}
.frame-button:hover,
.infinite-shelf-wrapper1:hover {
  background-color: #d6d9de;
}
.frame-button,
.frame-parent7,
.item7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent7 {
  flex: 1;
  gap: 44px;
  max-width: 100%;
  font-size: 16px;
}
.item7 {
  width: 490px;
  border-radius: 8px;
  padding: 12px 12px 16px 16px;
  box-sizing: border-box;
  gap: 16px;
}
.h2-heading60 {
  margin: 0;
  height: 17px;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 24px;
}
.h2-heading-wrapper9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.h2-heading61,
.its-online-2472 {
  height: 12px;
  position: relative;
  line-height: 19px;
  display: inline-block;
}
.its-online-2472 {
  align-self: stretch;
  height: 31px;
  font-size: 14px;
  line-height: 150%;
  color: #485165;
}
.frame-wrapper5,
.h2-heading-parent23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.h2-heading-parent23 {
  align-self: stretch;
  gap: 16px;
}
.frame-wrapper5 {
  flex: 1;
  padding: 4px 0 0;
  box-sizing: border-box;
  min-width: 170px;
}
.infinite-shelf5 {
  width: 85px;
  position: relative;
  font-size: 14px;
  line-height: 10px;
  font-weight: 500;
  font-family: Inter;
  color: #485165;
  text-align: center;
  display: inline-block;
  min-width: 85px;
}
.infinite-shelf-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: 6px 15px;
  background-color: #eff1f6;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.frame-parent8 {
  flex: 1;
  flex-direction: row;
  gap: 44px;
  max-width: 100%;
  font-size: 16px;
}
.assistants2,
.default3,
.frame-parent8,
.item8,
.search-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.item8 {
  width: 490px;
  border-radius: 8px;
  flex-direction: row;
  padding: 12px 12px 16px 16px;
  box-sizing: border-box;
  gap: 16px;
}
.assistants2,
.default3,
.search-parent {
  flex-direction: column;
  max-width: 100%;
}
.default3 {
  width: 490px;
  overflow-x: auto;
  gap: 4px;
  font-size: 24px;
  color: #0d0d25;
}
.assistants2,
.search-parent {
  align-self: stretch;
}
.search-parent {
  gap: 16px;
  color: #758199;
}
.assistants2 {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 2px 3px 12px 1px rgba(72, 80, 109, 0.1),
    11px 1px 30px 20px rgba(72, 80, 109, 0.17);
  border: 1px solid #eff1f6;
  box-sizing: border-box;
  overflow: hidden;
  padding: 24px 15px 16px;
  gap: 29px;
  z-index: 1;
}
.h2-heading62,
.h2-heading63 {
  position: relative;
  display: inline-block;
}
.h2-heading62 {
  margin: 0;
  height: 17px;
  font-size: inherit;
  line-height: 160%;
  font-weight: 400;
  font-family: inherit;
  min-width: 24px;
}
.h2-heading63 {
  height: 12px;
  line-height: 19px;
}
.chat-with-your3 {
  margin-block-start: 0;
  margin-block-end: 9px;
}
.change-the-instructions3 {
  margin: 0;
}
.chat-with-your-container3 {
  align-self: stretch;
  height: 82px;
  position: relative;
  font-size: 14px;
  line-height: 150%;
  color: #485165;
  display: inline-block;
}
.h2-heading-parent24,
.h2-heading-parent25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.h2-heading-parent25 {
  flex: 1;
  flex-direction: column;
  min-width: 188px;
  font-size: 16px;
}
.h2-heading-parent24 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.h2-heading64,
.h2-heading65 {
  position: relative;
  display: inline-block;
}
.h2-heading64 {
  margin: 0;
  height: 17px;
  font-size: inherit;
  line-height: 160%;
  font-weight: 400;
  font-family: inherit;
  min-width: 24px;
}
.h2-heading65 {
  height: 12px;
  line-height: 19px;
}
.add-necessary-bits6 {
  margin-block-start: 0;
  margin-block-end: 9px;
}
.you-can-change6 {
  margin: 0;
}
.add-necessary-bits-container6 {
  align-self: stretch;
  height: 61px;
  position: relative;
  font-size: 14px;
  line-height: 150%;
  color: #485165;
  display: inline-block;
}
.h2-heading-parent26,
.h2-heading-parent27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.h2-heading-parent27 {
  flex: 1;
  flex-direction: column;
  min-width: 188px;
  font-size: 16px;
}
.h2-heading-parent26 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.h2-heading66,
.h2-heading67 {
  position: relative;
  display: inline-block;
}
.h2-heading66 {
  margin: 0;
  height: 17px;
  font-size: inherit;
  line-height: 160%;
  font-weight: 400;
  font-family: inherit;
  min-width: 24px;
}
.h2-heading67 {
  height: 12px;
  line-height: 19px;
}
.add-necessary-bits7 {
  margin-block-start: 0;
  margin-block-end: 9px;
}
.you-can-change7 {
  margin: 0;
}
.add-necessary-bits-container7 {
  align-self: stretch;
  height: 61px;
  position: relative;
  font-size: 14px;
  line-height: 150%;
  color: #485165;
  display: inline-block;
}
.h2-heading-parent29 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  min-width: 188px;
  font-size: 16px;
}
.assistants-group,
.chat-with-your-assistants,
.h2-heading-parent28 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.h2-heading-parent28 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.assistants-group,
.chat-with-your-assistants {
  flex-direction: column;
}
.chat-with-your-assistants {
  padding: 0 192px 0 0;
  gap: 40px;
  margin-top: -170.5px;
  font-size: 24px;
  color: #0d0d25;
}
.assistants-group {
  margin-top: -664px;
  max-width: 100%;
  font-size: 16px;
  color: #485165;
}
.how-to-use3 {
  width: 152px;
  position: relative;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  font-family: Inter;
  color: #7150e0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button18 {
  cursor: pointer;
  border: 1px solid #eff1f6;
  padding: 7px 11px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 10px rgba(226, 229, 236, 0.4);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}
.button18:hover,
.button19:hover {
  background-color: #e6e6e6;
  border: 1px solid #d6d9de;
  box-sizing: border-box;
}
.button18,
.button19,
.tell-me-about3 {
  display: flex;
  align-items: center;
}
.tell-me-about3 {
  width: 129px;
  position: relative;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  font-family: Inter;
  color: #7150e0;
  text-align: center;
  justify-content: center;
  min-width: 129px;
}
.button19 {
  cursor: pointer;
  border: 1px solid #eff1f6;
  padding: 7px 11px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 10px rgba(226, 229, 236, 0.4);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}
.what-knowledge-base3 {
  flex: 1;
  position: relative;
  line-height: 19px;
  font-weight: 500;
}
.button20,
.default5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button20 {
  flex: 1;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(226, 229, 236, 0.4);
  border: 1px solid #eff1f6;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  padding: 7px 11px;
  min-width: 199px;
  white-space: nowrap;
}
.default5 {
  width: 651px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  max-width: 125%;
  flex-shrink: 0;
}
.lightning-icon4 {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.h2-heading68 {
  height: 10px;
  flex: 1;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  min-width: 93px;
  max-width: 100%;
}
.button-icon3 {
  height: 32px;
  width: 32px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.lightning-icon3 {
  width: 498px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.default-parent,
.lightning-icon-wrapper {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.lightning-icon-wrapper {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(226, 229, 236, 0.4);
  border: 1px solid #a179e4;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 7px 8px 15px;
  gap: 8px;
  text-align: left;
  color: #6e717c;
}
.default-parent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  gap: 24px;
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  color: #7150e0;
}
.text-field3,
.top-bar-new-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-field3 {
  align-self: stretch;
  height: 796px;
  border-bottom: 1px solid #eff1f6;
  box-sizing: border-box;
  padding: 662px 20px 28px;
  gap: 60.5px;
  max-width: 100%;
  font-size: 26px;
}
.top-bar-new-message-container {
  flex: 1;
  max-width: calc(100% - 9px);
  text-align: left;
  font-size: 14px;
  color: #0d0d25;
  font-family: Inter;
}
.scroll-bar-inner {
  align-self: stretch;
  width: 7px;
  position: relative;
  border-radius: 8px;
  background-color: #6e717c;
}
.chat-assistant-dropdown4,
.scroll-bar3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.scroll-bar3 {
  height: 845px;
  width: 9px;
  border-radius: 0 8px 8px 0;
  border-left: 1px solid #eff1f6;
  padding: 0 1px 783px 0;
}
.chat-assistant-dropdown4 {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 2px 3px 12px 1px rgba(72, 80, 109, 0.1),
    11px 1px 30px 20px rgba(72, 80, 109, 0.17);
  border: 1px solid #eff1f6;
  letter-spacing: normal;
}
@media screen and (max-width: 525px) {
  .top-bar-new-message3 {
    flex-wrap: wrap;
  }
  .search {
    gap: 28px;
  }
  .chat-with-your-assistants {
    gap: 20px 40px;
    padding-right: 96px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .expand {
    gap: 32px 16px;
  }
  .h2-heading50 {
    font-size: 21px;
    line-height: 15px;
  }
  .h2-heading-parent19 {
    flex-wrap: wrap;
  }
  .h-heading-h-hading {
    flex-wrap: wrap;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .h2-heading56,
  .h2-heading58,
  .h2-heading60,
  .h2-heading62,
  .h2-heading64,
  .h2-heading66 {
    font-size: 19px;
    line-height: 31px;
  }
  .chat-with-your-assistants {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .text-field3 {
    height: auto;
    gap: 30px 60.5px;
  }
}
