/* Main Chatbot Container */
.chatbot-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 456px;
    max-width: 90%;
    min-width: 360px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Header Styles */
.header {
    width: 100%;
    height: 40px;
    background-color: #745dde;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header p {
    color: white;
    font-weight: bold;
}

/* Chat Div */
.chat-div {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Auto Prompts Container */
.auto-prompts-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.auto-prompt {
    width: fit-content;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    cursor: pointer;
}

.auto-prompt p {
    font-size: 14px;
}

/* Bot Message */
.bot-message-container, .user-message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.bot-profile-photo, .user-profile-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bot-message, .user-message {
    width: fit-content;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 80px;
}

.bot-message {
    background-color: #E9ECF0;
    max-width: 85%;
}

.user-message {
    background-color: #745DDE;
}

.bot-message p, .user-message p {
    line-height: 20px;
    font-size: 14px;
}

.bot-message p {
    color: rgba(0, 0, 0, 0.7);
}

.user-message p {
    color: rgba(255, 255, 255, 1);
}

/* Chat buttons div */
.chat-buttons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    background-color: #F1F4F6;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 5px;
}

.input-container div {
    flex: 1;
}

.no-border-input {
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    height: 35px;
    padding-right: 5px;
    background-color: transparent;
}

.send-button-container {
    background-color: #745dde;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

/* Profile Photos */
.bot-profile-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #745dde;
}

.user-profile-photo img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
